.categories {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #cb6532e7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
}

.btn img {
    width: 25px;
    height: auto;
    margin-right: 5px;
}

.btn span {
    font-size: 20px;
    font-weight: 600;
    color: #cb6532e7;
}

.btn:hover,
.selectedbtn {
    background-color: #cb6532e7;
    cursor: pointer;
}

.btn:hover span {
    color: #fff;
}

