.search {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cb6532e7;
    border-radius: 200px;
}

.search img {
    width: 25px;
    height: auto;
    margin: 0 10px;
}

.search_field {
    width: calc(100% - 45px);
    height: 100%;
    border: unset;
    border-radius: 200px;
}

.search_field:focus {
    outline: unset;
    color: #cb6532e7;
}

.search:focus-within {
    border: 2px solid #cb6532e7;
}